***/.expo
***/.env
***//vscode
*/node_modules
/node_modules
/.idea
***/.expo
***/.env
***//vscode
*/node_modules
/node_modules
/.idea
*.env
***/node_modules
coverage
logs
*.log
pids
*.pid
*.seed
*.pid.lock
dist
.env
.vscode/
.idea/
.DS_Store
Thumbs.db
